.head {
      background-color: burlywood;
      height: 100px;
      width: 100%;
      border: 2px solid grey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
      color: crimson;
      font-style: oblique;
      /* position:absolute; */
      top: 0;
      left: 0;
      z-index: 1000;
    }

    .logo-left {
      height: 90px;
      display: flex;
      width: 50px;
    }

    .head-title {
      flex: 1;
      text-align: center;
      color: darkgreen;
    }

    .head-right {
      display: flex;
      gap: 10px;
    }